//----------------------------------------------------------------------------------------------------------
//############################################# CSS FOR THE STYLEGUIDE ONLY
//----------------------------------------------------------------------------------------------------------
@import "global/_colors.less";

/* style-guide */
.style-menu {
  margin-top:80px;
}

.style-section {
  padding:30px 0;
}

.style-section-dark {
  background-color:@color-6;
}

h3.style-section--headline {
  border-bottom: 1px dashed @color-font;
  padding-bottom:10px;
}

#tile-style-6 {
  padding: 20px 0 40px 0;
}
