/*----------------------------------------------------------------------------------------------------------
#############################################  404
----------------------------------------------------------------------------------------------------------*/
.error404 {
  .list-breadcrumbs {
    margin: 20px 0 60px 0;
  }

  .error404--wrapper {
    margin: 80px auto;

    .page-title {
      .render-headline-text-shadow-black(2px, 2px, 1px);
      margin-bottom: 44px;
      text-transform: uppercase;
    }

    p {
      color: @color-5;
    }

    .global-link {
      display: block;
      margin-top: 45px;
    }
  }
}