.page-template-template-sitemap {

  .section-global {
    .sitemap-products {
      .make-md-column(3);
    }
  }

  a:hover {
    text-decoration:none;
  }

  .sitemap-list--wrapper {
    margin: 60px 0;
  }

  hr {
    border-top: 1px solid @color-3;
  }

  ul {
    list-style: none;

    li {
      margin-top:20px;

      :before {
        display: none;
        padding: 0;
      }
    }
  }

  .menu-level-0 {
    .font-size(42);
    text-transform: uppercase;
    font-family: @font-family-optima-lt-w01-demi-bold;
    
    li {
      .font-size(42);
      display: inline-block;
      padding: 0;
    }

    a {
      .font-size(42);
      display: block;
      font-family: @font-family-optima-lt-w01-demi-bold;
      line-height: 100%;
      padding-right: 40px;
      position: relative;
      width:100%;

      &:after {
        .font-size(26);
        .render-arrow-right();
        color: @color-3;
        margin-top:-14px;
        padding-left:10px;
        position: absolute;
        top:50%;
        .transition(padding-left .4s ease-in-out);
      }

      &:hover {
        text-decoration: none;
        &:after {
          padding-left:20px;
          .transition(padding-left .4s ease-in-out);
        }
      }
    }
  }

  .sitemap-products {
    margin-top:30px;
    overflow:hidden /* FIX FOR ARNOTTS-319 */;
  }

  h3 {
    .font-size(32);
    font-family: @font-family-optima-lt-w01-demi-bold;
    margin-top:0;
    text-transform: none;
  }

  .list-products-overview li {
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }

  .with-arrow {
    li {
      margin-top: 40px;
      padding: 0;

      a {
        .font-size(22);
        display: inline-block;
        padding-right: 30px;
        position: relative;
        width:100%;

        @media (min-width: @screen-md) {
          width:auto;
        }

        &:after {
          .font-size(16);
          .render-arrow-right();
          color: @color-3;
          padding-left:10px;
          margin-top:-8px;
          position: absolute;
          top:50%;
          .transition(padding-left .4s ease-in-out);

        }

        &:hover {
          &:after {
            padding-left:20px;
            .transition(padding-left .4s ease-in-out);
          }
        }
      }
    }
  }
}

