/*----------------------------------------------------------------------------------------------------------
#############################################  PROMOTIONS PAGE OLD/NEW
----------------------------------------------------------------------------------------------------------*/

.promotions-page--wrapper {
  .nav-tabs {
    border-bottom: 1px solid @color-3;
    a {
      margin-right: 0;
      padding: 16px 0;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .media-image {
		float: none;

		@media (min-width: @screen-sm) {
			float: left;
		}
  }

  .search-text--wrapper {
  	padding: 0 20px;

    h3 {
      font-family: @font-family-optima-lt-w01-demi-bold;
      text-transform: uppercase;
    }

  	.date {
  		margin-top: 30px;

  		@media (min-width: @screen-sm) {
	      margin-top: 0;
	    }
  	}

  	p {
  		margin-top: 0;

  		@media (min-width: @screen-sm) {
	      margin-top: 10px;
	    }
  	}

  	.global-link {
  		float: left;
  	}
  }
}
