/*----------------------------------------------------------------------------------------------------------
#############################################  MEDIA CENTER
----------------------------------------------------------------------------------------------------------*/
.search-form-wrapper {
  padding: 20px 0 0px 0;
}

.search-form {
  float: left;
  padding: 40px 0;
  width: 100%;

  input, select {
    appearance: none;  
    border-radius: 0;
    border-color: @color-3;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    .input-text-style();

    &::-webkit-input-placeholder {
      .input-text-style();
    }

    &:-moz-placeholder { /* Firefox 18- */
      .input-text-style(); 
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      .input-text-style();
    }

    &:-ms-input-placeholder {  
      .input-text-style(); 
    }
  }

  .keyword-input--wrapper {
    display: block;
    min-width: 300px;
    padding: 0;

    @media (min-width: @screen-md) {
      float: left;
    }

    @media (min-width: @screen-xs) {
      padding-left: 10px;
      padding-right: 10px;
    }

    .keywordInput {
      .font-size(18);
      color: @color-3;
      font-family: @font-family-optima-lt-w01-demi-bold;
      font-weight: normal;
      margin-right: 10px;
      text-transform: uppercase;
      width:100%;

      @media (min-width: @screen-md) {
        width: auto;
      }
    }

    input, .type-dropdown--wrapper {
      width: 100%;

      @media (min-width: @screen-md) {
        width: 60%;
      }
    }
  }

  .custom-dropdown {
    display: block;
    padding: 0;
    position: relative;
    margin: 10px 0;

    .form-control {
      .font-size(16);
      
      @media (min-width: @screen-1024) {
        .font-size(18);
      }
    }

    select {
      background: url("./assets/images/gold-down-arrow.png") no-repeat 95% 50% @color-white;

      &::-ms-expand {
        display: none;
      }

    }

    @media (min-width: @screen-md) {
      float: left;
      margin: 0;
    }

    @media (min-width: @screen-xs) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
      

  .btn {
    .font-size(18);
    background-color: @color-1;
    border: 0;
    color: @color-white;
    float: right;
    font-family: @font-family-optima-lt-w01-demi-bold;
    margin-bottom: 20px;
    outline: 0;
    padding: 10px 0;
    text-transform: uppercase;
    width: 100%;

    @media (min-width: @screen-xs) {
      margin-bottom: 0px;
      margin-right: 10px;
      max-width: 56px;
      padding: 7px 10px;
    }
  }
}

.search-tagline {
  .font-size(14);
  font-family: @font-family-futura-w01-medium;
  margin: 0px;
  text-transform: uppercase;

  span {
    color: @color-1;
  }
}

.search-list {

  margin-top: 60px;

  hr {
    border: 1px solid @color-3;
    float: left;
    width: 100%;
  }

  img {
    margin-bottom: 20px;

    @media (min-width: @screen-sm) {
      margin-bottom: 0px;
    }
  }

  .search-text--wrapper {
    h3 {
      .font-size(24);
      font-family: @font-family-stag-web;
      letter-spacing: 1px;
      margin-top: 0;
      
    }

    .date {
      .font-size(14);
      color: @color-3;
      font-family: @font-family-futura-w01-medium;
      margin: 10px 0;
      text-transform: uppercase;

      @media (min-width: @screen-xs) {
        margin: 0;
      }
    }

    p {
      .font-size(18);
      font-family: @font-family-futura-bt-w01-book;
      float: left;
      margin: 0;
      width: 100%;

    }
    .global-link {
      float: left;
      margin-top: 13px;

      &:hover {
        text-decoration: none;
      }

      @media (min-width: @screen-xs) {
        width: auto;
      }
    }
  }

  .tile {
    text-align: left;
    
    @media (min-width: @screen-md) {
      text-align: left;
    }

    h3:before {
      margin: 0 auto;
      position: static;
    }

    h3 {
      .font-size(18);
      display: block;
      margin: 0 0 20px 0;
      min-height: 58px;
      padding: 0px;

      @media (min-width: @screen-md) {
        display: table;
        padding-left: 80px;

        &:before {
          position: absolute;
          width: 58px;
        }

        span {
          display: table-cell;
          padding-top: 0px;
          width: 100%;
          vertical-align: middle;
        }
      }
    }

    h4, p {
      .font-size(16);
      margin: 0;
    }
  }

  .media-image {
    .font-size(105);
    float: none;

    @media (min-width: @screen-xs) {
      float: left;
    }

    @media (min-width: @screen-sm) {
      padding-left: 0;
    }

    .icon {
      float: left;
    }

    .icon-pdf {
      color: @color-1;
    }

    .icon-png, 
    .icon-jpg {
      color: @color-3;
    }

    @media (min-width: @screen-sm) {
      .font-size(75);
    }

    @media (min-width: @screen-md) {
      .font-size(105);
    }
  }

  .box-tiles--wrapper {
    margin: 20px 0;
    padding: 0;

    h3:after {
      right: 20px;
    }
  }
}

.input-text-style() {
  color: @color-5;
  font-family: @font-family-futura-w01-medium;
  .font-size(18); 
}

.faq-wrapper {
  margin: 60px 0 90px;
}

.faq {
  padding: 0 10px;
  position: relative;

  @media (min-width: @screen-xs) {
    padding: 0;
  }

  .row:last-child {
    hr {
      display: none;
    }
  }

  .search-text--wrapper {

    h3 {
      font-family: @font-family-optima-lt-w01-demi-bold;
      text-shadow: none;
    }

    p {
      margin: 0;
    }

    .global-link {
      display: block;
      margin-top: 40px;
    }
  }

  .keyword-input--wrapper {
    width: 100%;

    @media (min-width: @screen-xs) {
      width: 80%;
    }

    .type-dropdown--wrapper {
      padding: 0;
      width: 100%;

      @media (min-width: @screen-md) {
        display: inline-block;
        float: none;
        width: 80%;
      }
    }
  }

  .btn {
    
    @media (min-width: @screen-xs) {
      position: absolute;
      right: 0;
      bottom: 15px;
    }

    @media (min-width: @screen-sm) {
      bottom: 10px;
    }

    @media (min-width: @screen-md) {
      float: left;
      position: static;
    }

  }
}

@-moz-document url-prefix() {
  .search-form .custom-dropdown select {
    background-image: none;
  }
}

.lt-ie10 {
  .search-form .custom-dropdown select {
    background-image: none;
  }
}

.media-library {
  .search-text--wrapper h3 {
    padding-left: 110px;

    @media (min-width: @screen-sm) {
      padding-left: 0;
    }
  }
}