//----------------------------------------------------------------------------------------------------------
//############################################# TILES
// - Global homepage specific styles
//----------------------------------------------------------------------------------------------------------

// Currently only being used on the homepage - using the automatic default wordpress css class
.home {
  .intro-copy {
    padding: 0 10px;

    @media (min-width: @screen-xs) {
      padding: 0 100px;
    }

    p {
      margin-bottom:0;
    }
  }
}
