/*----------------------------------------------------------------------------------------------------------
#############################################  MEDIA LIBRARY
----------------------------------------------------------------------------------------------------------*/

.media-library {
  .search-text--wrapper h3 {
    padding-left: 110px;

    @media (min-width: @screen-sm) {
      padding-left: 0;
    }
  }
}
