/*----------------------------------------------------------------------------------------------------------
#############################################  RECIPES
----------------------------------------------------------------------------------------------------------*/
.page-recipe-detail {

  h3 {
    .font-size(42);
    .render-headline-text-shadow-gold(0px, 2px, 0px);
    font-family:@font-family-optima-lt-w01-medium;
    text-transform:uppercase;
    margin-bottom: 30px;
  }

  hr {
    border-top:1px solid @color-3;
    margin: 0 0 50px 0;
  }

  .page-intro--copy {
    p {
      font-family: @font-family-futura-bt-w01-book;
    }
  }

  .section-global {
    padding-bottom:8px;
  }

  .section-recipe-preview {
    padding: 16px 0;
  }
}

.section-recipe-content {
  margin:50px 0;
}

.recipe-preview--image {
  .make-row();

  img{
    width:100%;
  }
}

.section-recipe--tips {
  img {
    @media (min-width: @screen-md) {
      max-width:375px;
    }
  }
}

.recipe-list--wrapper {

  .search-form {
    padding: 40px 10px 20px 10px;

    @media (min-width: @screen-sm) {
      padding: 40px 0 20px 0;
    }
  }

  .btn {
    @media (min-width: @screen-sm) {
      margin: 20px 10px;
      width: 350px;
    }
    
    @media (min-width: @screen-md) {
      margin: 0;
      width: auto;
    }

  }
  .search-item {
    padding: 0;

    @media (min-width: @screen-sm) {
      padding: 0 10px;
    }
  }
}
.recipe-tile--wrapper {
  margin-bottom: 20px;

  img {
    display: block;
    width: 100%;
  }

  .recipe-tile {
    display: block;
    position: relative;

    @media (min-width: @screen-md) {
      .hero-shadow-small();

      &:after {
        z-index: 1;
      }
    }

    @media (min-width: 1024px) {
     
      &:hover {
        .text-wrapper {
          height: 180px;
          text-decoration: none;
          .transition(all 0.4s ease-in-out);

          @media (min-width: @screen-sm) {
            height: 152px;
          }

          @media (min-width: @screen-md) {
            height: 180px;
          }
        }
      }
    }
  }

  .recipe-title {
    bottom: 0px;
    padding-right: 50px;
    position: absolute;
  }

  .text-wrapper {
    background: @color-1;
    bottom: 0px;
    display: block;
    height: 0px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 5;
    .transition(all 0.4s ease-in-out);

    h3 {
      @media (min-width: @screen-sm) {
        height: 48px;
        margin: 10px 0 5px 0;
        overflow: hidden;
      }

      @media (min-width: @screen-md) {
        margin: 27px 0 13.5px 0;
      }

      &:after {
        display: none;
      }
    }

    p {
      .font-size(14);
      color: @color-3;
      margin: 0;
      padding: 0 30px;
      text-transform: uppercase;
      .render-headline-text-shadow-black(2px, 2px, 1px);

      span {
        .font-size(18);
        color: @color-white;
        text-transform: capitalize;
        .render-headline-text-shadow-black(0px, 0px, 0px);
      }
    }

    &:after {
      .render-arrow-right();
      bottom: 20px;
      color: @color-white;
      position: absolute;
      right: 30px;
    }

  }

  h3 {
    .font-size(22);
    .render-headline-text-shadow-black(2px, 2px, 1px);
    color: @color-white;
    font-family: @font-family-stag-web;
    letter-spacing: 1px;
    padding: 0 30px;
    text-transform: capitalize;
    width: 100%;
    z-index: 2;

    &:after {
      .render-plus();
      bottom: 0;
      position: absolute;
      right: 30px;
    }
  }
}


