/*----------------------------------------------------------------------------------------------------------
#############################################  FEEDBACK
----------------------------------------------------------------------------------------------------------*/

.feedback-form {

    .global-form-error-message {
        color: @color-1;
        display: none;
    }

    .search-form {
        margin-top: 30px;
    }

    textarea {
        border: 1px solid @color-3;
        height: 172px;
        max-height: 172px;
        max-width: 100%;
        padding: 10px 10px;
    }

    h3 {
        display: block;
        width: 100%;
    }

    input[type="checkbox"] {
        float: left;
        height: 33px;
        margin-right: 18px;
        width: 35px;

        &:checked {
            background: url("@{image-url}/checkbox-checked.png");
        }

        & + label {
            color: @color-10;
            line-height: 30px;
            margin-left: 53px;
        }
    }

    .form-group {
        float: left;
        margin-bottom: 25px;
        width: 100%;
    }

    label {
        display: block;
        margin-bottom: 15px;
    }


    .server-side-error-msg {
        color: @color-1;
    }

    .section-feedback-form {
        border-bottom: 1px solid @color-3;
        margin-bottom: 40px;
        padding-bottom: 40px;
        width: 100%;

        @media (min-width: @screen-md) {
            float: left;
        }
    }

    .section-terms-feedback-form {
        margin-bottom: 40px;
        width: 100%;

        @media (min-width: @screen-md) {
            float: left;
        }
    }

    .recaptcha-wrapper {
        margin-bottom: 50px;
    }

    .submit-btn {
        margin-top: 10px;

        button {
            width: 100%;

            @media (min-width: @screen-md) {
                width: auto;
            }
        }

    }

    .btn {
        .font-size(18);
        background-color: @color-1;
        border: 0;
        color: @color-white;
        font-family: @font-family-optima-lt-w01-demi-bold;
        outline: 0;
        padding: 18px 42px;
        text-transform: uppercase;
    }

    .js-show-complaints {
        display: none;
    }

    .error-input-wrapper, 
    .error-input-wrapper-feedback,
    .error-input-wrapper-complaint,
    .error-nonumber-wrapper,
    .error-nocharacter-wrapper {
        input,
        textarea,
        select {
            border: 1px solid @color-1;
        }

        .required-error {
            .transition(all .4s ease-in-out);
            opacity: 100;
            max-height: 44px;
        }
    }

    .error-input-wrapper-feedback {
        .required-feedback-error {
            .transition(all .4s ease-in-out);
            opacity: 100;
            max-height: 44px;
        }
    }

    .error-input-wrapper-complaint {
        .required-complaint-error {
            .transition(all .4s ease-in-out);
            opacity: 100;
            max-height: 44px;
        }
    }

    .error-date-input-wrapper {
        .date-error {
            .transition(all .4s ease-in-out);
            opacity: 100;
            max-height: 44px;
        }
    }

    .invalid-input-wrapper {
        input {
            border: 1px solid @color-1;
        }

        .invalid {
            .transition(all .4s ease-in-out);
            opacity: 100;
            max-height: 44px;
        }
    }

    .thank-you-feedback-text {
        margin: 60px 0;
    }

    .list-contacts--sidebar {
        float: left;
        margin-left: 0;
        margin-right: 0;
        width: 100%;

        @media (min-width: @screen-lg) {
            width: auto;
        }

        @media (min-width: @screen-lg) {
            margin-left: 15px;
            margin-right: 15px;
        }

        li {
            padding-left: 0;
            padding-right: 0;

            @media (min-width: @screen-lg) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        .tile--consumer-care {
            h3 {

                padding-left: 62px;

                span {
                    .font-size(18);
                    line-height: 25px;
                }

                &:before {
                    .render-feedback-consumer-care();
                }
            }
        }
    }

    .js-show-complaints {
        display: none;
    }

    .complaints {

        .js-show-complaints {
            display: block;
            
            &.required-star {
                display: inline-block;
            }
        }

        .js-show-general {
            display: none;
        }
    }

}