//----------------------------------------------------------------------------------------------------------
//############################################# FACEBOOK FEED
// - overwriting styles from wordpress facebook plugin: Custom Facebook Feed
//----------------------------------------------------------------------------------------------------------

.tile--facebook {
	#cff {
		.cff-author {
			display: none;
		}

		.cff-header {
			letter-spacing: 0;
			line-height: 38px;
			margin: 0 0 30px 0;
			min-height: 0;
			padding-left: 60px;
			position: relative;
			.fa {
				display: none;
			}
		}

		.cff-item {
			border: 0 !important;
			padding: 0;

		}

		.cff-post-text {
			margin: 0;
		}
	}

	&:hover {
		#cff {

			.cff-item {

				.cff-text {
					color: @color-white;
                    .transition(color 0.6s ease-in-out);
				}
			}

			.cff-expand {
				color: @color-white;
			}
		}
	}
}