/*----------------------------------------------------------------------------------------------------------
#############################################  SECTION - SOCIAL MEDIA FEED
- Currently used on the homepage
- Section containing the twitter and facebook feed.
----------------------------------------------------------------------------------------------------------*/
.section-social-media-feeds {
  padding-bottom: @page-padding-bottom;

  .tile {
    min-height:230px;

    @media (min-width: @screen-md) {
      min-height:260px;
    }
  }

  .tile--twitter {
    margin-top:20px;

    @media (min-width: @screen-md) {
      margin-top:0;
    }
  }
}