.section-product-social-media {

	.social-media--wrapper {
		overflow: hidden;
		position: relative;
	}

	.list--product-social-media {
		background: @color-6;
		display: table;
		list-style: none;
		margin-left: auto;
		margin-right: auto;
		padding: 0 10px;
		position: relative;
		text-align: center;

		@media (min-width: @screen-xs) {
	    	padding: 0 30px;
	    }

		li {
			display: table-cell;
			height: 35px;
			margin-left: 10px;
			padding: 0 5px;
			width: 45px;

			@media (min-width: @screen-xs) {
		    	height: 65px;
		    	margin-left: 20px;
		    	width: 75px;
		    }

			a {
				background: @color-1;
				border-radius: 50%;
				display: block;
				height: 100%;
				position: relative;
				width: 100%;

				&:before {
					.font-size(20);
					.center-vertically-and-horzontally();
					color: @color-white;

					@media (min-width: @screen-xs) {
				    	.font-size(35);
				    }
				}

              &:hover {
                text-decoration:none;
                background: darken(@color-1,8%);
                .transition(all 0.3 ease-in-out);
              }
			}
		}
	}

	.horizontal-gold-line {
		background-color: @color-3;
		height: 2px;
		left: 0px;
		margin-top: -1px;
		position: absolute;
		top: 50%;
		width: 100%;
	}

	h3 {
		.font-size(24);
		font-family: @font-family-optima-lt-w01-demi-bold;
		letter-spacing: 0px;
		text-align: center;
	}
}
