/*----------------------------------------------------------------------------------------------------------
#############################################  SECTION - ACCC notice
- 
----------------------------------------------------------------------------------------------------------*/
.accc-container {
     background-color: white; 
    .container
    {
        background: white;
        padding-left: 0;
        padding-right: 0;
        border-style:solid; 
        border-color:#000;
        border-width:1px;
    }
    h4
    {
        text-align: center;
        color: white;
        background: black;
        font-size: 18px;
        padding-top: -10px;
        margin-top: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        left: 0;
    }
    p, div
    {
        text-align: center;
        font-family: 'Times New Roman';
    }
}

/* The "+" is so it'll apply the CSS rule ONLY when a .accc-container exist */
.accc-container + .main-nav-wrapper
{
    position:relative; 
    top:124px
}

.accc-container-home{
    background:#000; 
    color:#fff; 
    text-align:center; 
    padding-top:17px; 
    padding-bottom:17px; 
    font-size:18px; 
    text-decoration:none; 
    a{
        color:#fff;
    }
}

.accc-container-home + .main-nav-wrapper
{
    top: 90px;
}


