/*----------------------------------------------------------------------------------------------------------
#############################################  SECTION - PRODUCTS OVERVIEW
- Specific styles that don't fit in a module and are template specific
- Currently used on the product overview page '/our-products'
----------------------------------------------------------------------------------------------------------*/

.section-products-overview {

  // Remove the border from the first collapsible panel item
  .panel-group {
    .panel:first-child {
      h3 {
        a {
          border-top:0;
        }
      }
    }
  }

  h2 {
    font-family: @font-family-optima-lt-w01-demi-bold;
    letter-spacing: -2px;
    text-transform: uppercase;
  }


  .panel-body {
    padding: 20px 0;
  }

  .panel-default {

    .panel-title {
      margin:0;
      border-bottom: 1px solid @color-3;

      @media (min-width: @screen-md) {
        border: 0px;
      }

      a {
        background-color:@color-6;
        border-top:2px solid @color-3;
        color:@color-1;
        display: block;
        padding:25px 0;
        text-align:center;


        @media (min-width: @screen-md) {
          background-color:@color-white;
          border:0;
          color:@color-font;
          cursor: text;
          padding:10px 0;
          text-align:left;
        }


        &:hover {
          text-decoration:none;
        }
      }
    }

    &:last-child {
      .panel-title {
        border: 0;
      }
    }
  }
  .panel-heading{
    
    &:first-child {
      .panel-title a {
          border: 0px;
      }
    }

    a:not(.collapsed) {
        background-color: @color-1;
        color: @color-white;
        position: relative;

        &:after {
          border-color: @color-1 transparent transparent transparent;
          border-style: solid;
          border-width: 10px 10px 0px 10px;
          bottom: -10px;
          content: " ";
          display: inline-block;
          height: 0;
          left: 50%;
          margin-left: -5px;
          position: absolute;
          width: 0;
      }
    }


  }

  .global-link {
    float:right;
    text-align:right;
  }

  .list-products-overview {
    margin-bottom: 50px;

    p {
      margin-top: 30px;

      @media (min-width: @screen-md) {
        margin-top: 0px;
      }
    }

  }
}

.section-remove-row{
  ul {
    .make-row();
  }
}


