/*----------------------------------------------------------------------------------------------------------
#############################################  SECTION - PRODUCTS DETAIL
- Specific styles that don't fit in a module section and belong to the product detail view.
- Currently used on the product detail page '/our-products/xx'
----------------------------------------------------------------------------------------------------------*/
.section-products-detail {

  h2 {
    .render-headline-text-shadow-gold(0px, 2px, 0px);
    font-family:@font-family-optima-lt-w01-medium;
    text-transform:uppercase;
    margin-bottom:42px;
  }

  .products-detail--wysiwyg-content {
    padding:30px 0;

    h3 {
      margin-top:0;
    }
    
    ul {

      li {
        .render-list-ticks();
        color:@color-3;

        &:before {
          margin-top: -7px;
          position: absolute;
          top: 50%;
        }
      }
    }
  }
}

.section-recommended-products,
.section-product-recipes {
  h3 {
    .font-size(42);
    .render-headline-text-shadow-gold(0px, 2px, 0px);
    font-family:@font-family-optima-lt-w01-medium;
    text-transform:uppercase;
  }
}