.product-promotion-panel {

  .product-promotion--background {
    background-size:cover;
    height:400px;
    position: relative;

    .vert-align{
    	color: @color-white;
    	text-align: center;
    	width: 80%;
    	.center-vertically-and-horzontally();

    	h3 {
    		.font-size(50);
            .render-headline-text-shadow-black(2px, 4px, 1px);
    		font-family: @font-family-stag-web;
    		margin: 0;
    		text-transform: none;

            @media (min-width: @screen-xs) {
                .font-size(60);
            }
    	}

    	p {
			.font-size(24);
            .render-headline-text-shadow-black(2px, 2px, 1px);
    		font-family: @font-family-futura-bt-w01-book;
    		margin: 25px 0 0 0;
    	}

    	.cta {
    		margin: 25px 0 0 0;
    	}
    }

  }
}