/*----------------------------------------------------------------------------------------------------------
############################################# BUTTONS
----------------------------------------------------------------------------------------------------------*/
.btn-global {
  background-color:@color-1;
  border:0;
  border-radius:@border-radius;
  color:@color-white;
  padding:15px 25px;
  text-transform: uppercase;
  .transition(background-color .4s ease-in-out);

  &:hover {
    text-decoration:none;
    background-color:@color-2;
    color:@color-white;
    .transition(background-color .4s ease-in-out);
  }
}

.global-link {
  background-color:transparent;
  border:0;
  color:@color-1;
  font-family:@font-family-optima-lt-w01-demi-bold;
  text-transform:uppercase;

  &:after {
    .render-arrow-right();
    .transition(padding .4s ease-in-out);
    color:@color-3;
    padding-left:17px;
  }

  &:hover {
    color:@color-3;
    text-decoration:none;

    &:after {
      .transition(padding .4s ease-in-out);
      padding-left:25px;
    }
  }
}


.global-link--plus {

  &:before {
    content:'View more';
  }

  &:after {
    .render-plus();

    :hover & {
      padding-left:17px;
    }
  }
}

.global-link--minus {

  &:before {
    content:'View less';
  }

  &:after {
    .render-minus();

    :hover & {
      padding-left:17px;
    }
  }
}