/*----------------------------------------------------------------------------------------------------------
############################################# COLORS
----------------------------------------------------------------------------------------------------------*/
@color-black: #000;
@color-white: #fff;

@color-1:     #ad0a08;
@color-2:     #e73635;
@color-3:     #c2a87e;
@color-4:     #f3eee5;
@color-5:     #333;
@color-6:     #f3f0e7;
@color-7:     #b96048;
@color-8:     #ccc;
@color-9:     #f9f8f3;
@color-10:	  #5d5d5d;
@color-11:	  #c6b98c;
@color-12:	  #4d4d4d;
@color-13:    #f9f7f3;
@color-14:    #c2c0b9;

// Primary colour
@color-1-light:lighten(@color-1, 5%);
@color-1-lighter:lighten(@color-1, 45%);
@color-1-dark:darken(@color-1, 5%);
@color-1-darker:darken(@color-1, 15%);

// Semantic names
@brand-primary:         @color-1;
@color-bg:    @color-2;
@color-font:  @color-5;
@color-font-sidebar: @color-3;
@color-sidebar-font: @color-3;
@color-secondary-nav-bg: @color-6;
@color-anchor-list: @color-9;

@color-product-preview-bg: @color-13;
@color-product-intro-drop-shadow: @color-14;

@color-footer-border:   @color-7;