//
// WEB FONTS
// - Define all web fonts that you will deliver with the application here
// - The fonts Futura and Optima are being hosted on Fonts.com with our Orchard account (search through our Intranet for the credentials)
// --------------------------------------------------

// Deactivated this because of slow internet connection.
//@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=167b71b4-afe4-4b73-aa05-fba1b8359934");

//
// WEB FONT - Futura
// --------------------------------------------------

@font-face{
  font-family:@font-family-futura-w01-medium;
  src:url("@{font-path}/fonts.com/futura/f0052336-792e-4fcf-8750-fe6d7d5dccba.eot?#iefix");
  src:url("@{font-path}/fonts.com/futura/f0052336-792e-4fcf-8750-fe6d7d5dccba.eot?#iefix") format("embedded-opentype"),
  url("@{font-path}/fonts.com/futura/6779412d-2ea7-4f1a-acfd-f6a527baaee7.svg#6779412d-2ea7-4f1a-acfd-f6a527baaee7") format("svg"),
  url("@{font-path}/fonts.com/futura/a3931c31-5998-4dbd-b7d5-d310e4ed3d60.ttf") format("truetype");
}

@font-face{
  font-family:@font-family-futura-bt-w01-book;
  src:url("@{font-path}/fonts.com/futura/17fe4ab4-6e45-4ea2-bb53-2123063911c3.eot?#iefix");
  src:url("@{font-path}/fonts.com/futura/17fe4ab4-6e45-4ea2-bb53-2123063911c3.eot?#iefix") format("embedded-opentype"),
  url("@{font-path}/fonts.com/futura/d37fcd2f-d43f-4eae-b192-c48028c02797.svg#d37fcd2f-d43f-4eae-b192-c48028c02797") format("svg"),
  url("@{font-path}/fonts.com/futura/e4509cd4-7aa0-4068-89bd-95ffd0bfb6d4.ttf") format("truetype");
}

//
// WEB FONT - Optima
// --------------------------------------------------
@font-face{
  font-family:@font-family-optima-lt-w01-medium;
  src:url("@{font-path}/fonts.com/optima/eac0ae15-236a-4779-8d8d-4b3828cee3d7.eot?#iefix");
  src:url("@{font-path}/fonts.com/optima/eac0ae15-236a-4779-8d8d-4b3828cee3d7.eot?#iefix") format("embedded-opentype"),
  url("@{font-path}/fonts.com/optima/2ba6200a-dfdf-46bf-ae1b-45aa5cdfa1ec.svg#2ba6200a-dfdf-46bf-ae1b-45aa5cdfa1ec") format("svg"),
  url("@{font-path}/fonts.com/optima/d7d62281-a88b-487b-8c55-4133ff7f3232.ttf") format("truetype");
}

@font-face{
  font-family:@font-family-optima-lt-w01-demi-bold;
  src:url("@{font-path}/fonts.com/optima/187b25d1-ee67-4130-90e4-bcdbeb372b83.eot?#iefix");
  src:url("@{font-path}/fonts.com/optima/187b25d1-ee67-4130-90e4-bcdbeb372b83.eot?#iefix") format("embedded-opentype"),
  url("@{font-path}/fonts.com/optima/7514ea13-bd07-4970-885f-1141dfda6207.svg#7514ea13-bd07-4970-885f-1141dfda6207") format("svg"),
  url("@{font-path}/fonts.com/optima/8109e0ec-65b7-4577-b5af-60a8e110ee6c.ttf") format("truetype");
}

//
// WEB FONT - Optima
//    This font software is the property of Commercial Type.
//
//    You may not modify the font software, use it on another website, or install it on a computer.
//
//    License information is available at http://commercialtype.com/eula
//    For more information please visit Commercial Type at http://commercialtype.com or email us at info[at]commercialtype.com
//
//    Copyright (C) 2013 Schwartzco Inc.
//    License: 1501-MHELIF
//
//    O:\clients\Current\Campbells Arnotts\Arnott's\Corporate website\CAMARN0055 Corporate site concept, Design, Build\02 CREATE\00 Assets\Font
// --------------------------------------------------
@font-face {
  font-family: @font-family-stag-web;
  src: url('@{font-path}/stag/Stag-Book-Web.eot');
  src: url('@{font-path}/stag/Stag-Book-Web.eot?#iefix') format('embedded-opentype'),
  url('@{font-path}/stag/Stag-Book-Web.ttf') format('truetype'),
  url('@{font-path}/stag/Stag-Book-Web.svg#Stag Web') format('svg');
  font-weight:  400;
  font-style: normal;
  font-stretch: normal;
}
