/*----------------------------------------------------------------------------------------------------------
############################################# FORMS - GLOBAL STYLING
- Styled select
----------------------------------------------------------------------------------------------------------*/
.form-control {
  width: 100%;
}

input, select {
  appearance: none;
  border-radius: 0;
  border:1px solid @color-3;
  padding: 10px 10px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  .input-text-style();

  &::-webkit-input-placeholder {
    .input-text-style();
  }

  &:-moz-placeholder { /* Firefox 18- */
    .input-text-style();
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    .input-text-style();
  }

  &:-ms-input-placeholder {
    .input-text-style();
  }
}

select {
  background: url("@{image-url}/sprites/gold-down-arrow.png") no-repeat 95% 50% @color-white;
  padding: 10px 29px 10px 5px;

  &::-ms-expand {
    display: none;
  }

  .lt-ie10 &,
  .lt-ie10& {
    background-image: none;
  }
}

.error {
  .font-size(16);
  .transition(all .4s ease-in-out);
  color: @color-1;
  max-height: 0;
  margin: 5px 0 0 0;
  opacity: 0;
  overflow: hidden;
}

@-moz-document url-prefix() {
  select {
    background-image: none;
  }
}
/*----------------------------------------------------------------------------------------------------------
############################################# INPUTS
----------------------------------------------------------------------------------------------------------*/
.input-text-style() {
  color: @color-font;
  font-family: @font-family-futura-w01-medium;
  .font-size(18);
}
