/*----------------------------------------------------------------------------------------------------------
############################################# WP ADMIN BAR
- Only visible if the user is logged in and has enough permissions
----------------------------------------------------------------------------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  background-color:@color-white;
  word-wrap: break-word; /** FIX FOR ARNOTTS-256 */
}

// Wordpress admin bar, visible if the user is logged in.
.admin-bar {}

hr {
  border-top:1px solid @color-1;
  margin:40px 0;
}

a {
  word-wrap: break-word;

  &:active, &:focus {
    border: 0;
    outline: 0;
  }
}

img {
  .font-size(14); /* In case image is missing and alt tag is available. Make sure the font is not too huge*/
  height:auto;/* Needed when images are being pasted via WYSIWYG editor */
  max-width:100%; /* Needed when images are being pasted via WYSIWYG editor */
  -ms-interpolation-mode: bicubic;

  // wordpress specific class done via the wysiwyg editor
  &.alignleft {
    float:left;
    padding:0 20px 10px 0;
  }

  &.alignright {
    display: block;
    float: left;
    padding: 0 0 20px;
    width: 100%;

    @media (min-width: @screen-md) {
      float:right;
      padding:0 0 10px 20px;
      width:auto;
    }
  }
}

.section-global {
  padding:28px 0;

  .intro-copy {
    margin-bottom:40px;

    h3,p {
      text-align:center;
    }

    h3,
    h2 {
      .font-size(42);
      .render-headline-text-shadow-gold(0px, 2px, 0px);
      font-family: @font-family-optima-lt-w01-demi-bold;
      margin-bottom:12px;
      text-transform: uppercase;
      text-align: center;
    }

    p {
      letter-spacing: 0.05em;
    }
  }
}

.section-global--left-align-text {
  h3,p {
    text-align:left;
  }
}

.section-global--color-6 {
  background-color:@color-6;
}

.section-global--color-9 {
  background-color:@color-9;
}

.section-global--color-12 {
  background-color:@color-white;
}

.page-intro {
  padding:10px 0 28px 0;

  .page-intro--image {
    background-color:@color-white;
    border-bottom:5px solid @color-product-intro-drop-shadow;
    margin-bottom:25px;
    padding:10px;

    img {
      .center-image-horizontally-and-vertically();
    }

    @media (min-width: @screen-md) {
      margin-bottom:0;
    }
  }

  .page-intro--image-wrapper {
    border:1px solid @color-3;
    padding:30px;
  }

  .page-intro--copy {
    .font-size(23);
    line-height:37px;
  }

  .wysiwyg {
    margin-top:0;
  }
}

.page-hero {
  background-size:cover;
  background-position:center;
  color:@color-white;
  min-height: 320px;
  position: relative;
  .hero-shadow();

  @media (min-width: @screen-xs) {
    min-height: 320px;
  }

  @media (min-width: @screen-md) {
    min-height: 600px;
  }

  h1 {
    .font-size(50);
    .render-headline-text-shadow-black();
    bottom:22px;
    font-family: @font-family-stag-web;
    position: absolute;
    z-index: 1;

    @media (min-width: @screen-md) {
      bottom:39px;
    }

    @media (min-width: @screen-md) {
      bottom:60px;
    }
  }

}


.addthis_toolbox {
  float: none;
  margin: 20px auto;

  @media (min-width: @screen-xs) {
    float: right;
    margin: 20px 0;
  }
}

//Generic page style
.main-content {
  margin: 20px 0;

  @media (min-width: @screen-sm) {
    margin: 80px 0;
  }

  hr {
    border-top: 1px solid @color-3;
  }


}