/*----------------------------------------------------------------------------------------------------------
#############################################  LISTS
- Only global definitions for all lists
- All other list styles can be found under 'modules'
----------------------------------------------------------------------------------------------------------*/
ul,ol {
  .reset-list();

  li {
    list-style-position: inside;
  }
}

/*----------------------------------------------------------------------------------------------------------
#############################################  ORDERED LIST STYLES
- List styles coming from the WYSIWYG EDITOR
----------------------------------------------------------------------------------------------------------*/
ol {
  counter-reset: om-ordered-list;

  li {
    list-style-type:none;
    margin-bottom:20px;
    padding-left:35px;
    position: relative;

    &:before {
      .font-size(22);
      content: counter(om-ordered-list) + '.';
      color:@color-1;
      counter-increment:om-ordered-list;
      font-family:@font-family-stag-web;
      left:0;
      position: absolute;
      top:-1px;
    }
  }
}

/*----------------------------------------------------------------------------------------------------------
#############################################  WYSIWYG EDITOR LIST STYLES
- List styles coming from the WYSIWYG EDITOR
----------------------------------------------------------------------------------------------------------*/
.wysiwyg {
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      font-family: @font-family-futura-w01-medium;
      margin-bottom: 20px;
      padding-left: 35px;
      position: relative;

      &:before {
        background-color: @color-1;
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: 10px;
        left: 0;
        position: absolute;
        top: 8px;
        width: 10px;
      }
    }
  }
}

/**
 * To use if you want to render a list with a pseudoelement.
 */
.render-list() {
  list-style: none inside;
  margin-bottom:10px;
  padding-left:35px;
  position: relative;

  &:before {
    .render-bullets();
    .font-size(14);
    color:@color-1;
    left: 0;
    line-height:26px;
    position: absolute;
    top:8px;
    vertical-align: middle;
  }
}

