/*----------------------------------------------------------------------------------------------------------
############################################# MIXINS
----------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------
############################################# FONT
----------------------------------------------------------------------------------------------------------*/
.font-size(@font-size:16) {
  font-size:@font-size + 0px;
  font-size:@font-size/10 + 0rem;
}

/*----------------------------------------------------------------------------------------------------------
############################################# MAKE BOOTSTRAP CONTAINER
----------------------------------------------------------------------------------------------------------*/

.make-container() {
  margin: 0 auto;

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }

  @media (min-width: @screen-md-min) {
    width: @container-md;
  }

  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}

// Note the parent element needs to be positioned relatively to make this work!
.center-vertically-and-horzontally {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.center-vertically() {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

/*----------------------------------------------------------------------------------------------------------
############################################# ANIMATIONS
----------------------------------------------------------------------------------------------------------*/

.transition-all(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -ms-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}

// CSS 3 Animation
.transition-duration(@duration: 0.2s) {
  -webkit-transition-duration: @duration;
  -moz-transition-duration: @duration;
  -ms-transition-duration: @duration;
  transition-duration: @duration;
}
.translateY(@y) {
  -webkit-transform: translateY(@y);
  -ms-transform: translateY(@y); // IE9+
  transform: translateY(@y);
}
.rotation(@deg:5deg){
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  transform: rotate(@deg);
}
.scale(@ratio:1.5){
  -webkit-transform:scale(@ratio);
  -moz-transform:scale(@ratio);
  -ms-transform:scale(@ratio);
  transform:scale(@ratio);
}
.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  transition: all @duration @ease;
}
.skew(@x,@y) {
  -webkit-transform: skew(@x, @y);
  -moz-transform: skew(@x, @y);
  -o-transform: skew(@x, @y);
  -ms-transform: skew(@x, @y);
  transform: skew(@x, @y);
}

/*----------------------------------------------------------------------------------------------------------
############################################# SHADOWS
----------------------------------------------------------------------------------------------------------*/

.box-shadow(@shadow:0 3px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  -ms-box-shadow: @shadow;
  -o-box-shadow: @shadow;
  box-shadow: @shadow;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#c0c0c0')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#c0c0c0');
}

/*----------------------------------------------------------------------------------------------------------
#############################################  HELPERS
----------------------------------------------------------------------------------------------------------*/

// Center-align a block level element
.center-block {
  display: block;
  margin: 0 auto;
}

// Input placeholder text
.placeholder(@color: @gray-light) {
  & :-moz-placeholder {
    color: @color;
  }
  & ::-webkit-input-placeholder {
    color: @color;
  }
}

// Border Radius
.border-radius(@radius: 5px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

// CSS3 Content Columns
.content-columns(@columnCount, @columnGap: 20px) {
  -webkit-column-count: @columnCount;
  -webkit-column-gap: @columnGap;
  -moz-column-count: @columnCount;
  -moz-column-gap: @columnGap;
  column-count: @columnCount;
  column-gap: @columnGap;
}

.list-reset() {
  list-style:none;
  margin:0;
  padding:0;

  li {
    margin:0;
    padding:0
  }
}

/*----------------------------------------------------------------------------------------------------------
#############################################  CSS TRIANGLES
----------------------------------------------------------------------------------------------------------*/
.triangle-base() {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
}
.triangle(@direction, @size, @color) when (@direction = up) {
  .triangle-base();
  border-left: @size solid transparent;
  border-right: @size solid transparent;
  border-bottom: @size solid @color;
}
.triangle(@direction, @size, @color) when (@direction = down) {
  .triangle-base();
  border-left: @size solid transparent;
  border-right: @size solid transparent;
  border-top: @size solid @color;
}
.triangle(@direction, @size, @color) when (@direction = left) {
  .triangle-base();
  border-top: @size solid transparent;
  border-bottom: @size solid transparent;
  border-right: @size solid @color;
}
.triangle(@direction, @size, @color) when (@direction = right) {
  .triangle-base();
  border-top: @size solid transparent;
  border-bottom: @size solid transparent;
  border-left: @size solid @color;
}


.reset-list() {
  margin:0;
  padding:0;
}

/*----------------------------------------------------------------------------------------------------------
#############################################  TILES SHADOW GRADIENT
- E.g currently used on the cross link tiles at the bottom and in the sidebar
----------------------------------------------------------------------------------------------------------*/

.hero-shadow() {
  &:after {
    background: url("./assets/images/hero_gradient.png");
    bottom: 0px;
    content: "";
    display: block;
    height: 220px;
    left: 0px;
    position: absolute;
    width: 100%;
  }
}

.hero-shadow-small() {
  &:after {
    background: url("./assets/images/hero_gradient-small.png");
    bottom: 0px;
    content: "";
    display: block;
    height: 100px;
    left: 0px;
    position: absolute;
    width: 100%;
  }
}

/*----------------------------------------------------------------------------------------------------------
#############################################  HEADLINE TEXT SHADOW
----------------------------------------------------------------------------------------------------------*/
.render-headline-text-shadow-black(@hShadow:2px,@vShadow:6px,@blurRadius:1px) {
  text-shadow: @hShadow @vShadow @blurRadius rgba(0,0,0,0.5);
}

.render-headline-text-shadow-gold(@hShadow:2px,@vShadow:6px,@blurRadius:1px) {
  text-shadow: @hShadow @vShadow @blurRadius rgba(180,162,109,0.5);
}