/*----------------------------------------------------------------------------------------------------------
############################################# NONE-RESPONSIVE
# Deactivates Bootstraps responsiveness
----------------------------------------------------------------------------------------------------------*/
/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
  width: 960px;
}

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}
