/*----------------------------------------------------------------------------------------------------------
############################################# PRINT
----------------------------------------------------------------------------------------------------------*/
@media print {

    .main-nav-wrapper,
    .sidebar,
    .section-recommended-products,
    .list-breadcrumbs,
    .page-intro,
    hr,
    .print-breadcrumbs,
    footer{
        display: none !important;
    }

    .page-hero {
        min-height: 100%;

        h1 {
            margin: 20px 0;
            position: static;
        }

        &:after {
            background: none;
        }
    }

    .section-global,
    .main-content {
        margin: 0 !important;
        padding: 0 !important;
    }

}
