/*----------------------------------------------------------------------------------------------------------
############################################# SEARCH
- styling written by Charlie but moved out from media-centre file as used across faq, media library and media centre.
----------------------------------------------------------------------------------------------------------*/
form[role="search"].navbar-form {
  margin: 0;
  float: none !important;
}

.search-item {
  margin-bottom: 10px;

  @media (min-width: @screen-md) {
    margin-bottom: 0;
  }
}

.search-form-wrapper {
  padding: 20px 0 0px 0;
}

.search-form {
  padding: 40px 0 20px 0;

  input, select {
    width: 100%;
  }

  .keywordLabel {
    .font-size(18);
    color: @color-3;
    font-family: @font-family-optima-lt-w01-demi-bold;
    font-weight: normal;
    margin-right: 10px;
    text-transform: uppercase;
    width: 100%;

    @media (min-width: @screen-lg) {
      line-height: 48px;
      vertical-align: middle;
    }

    &.search--single-line {
      @media (min-width: @screen-md) {
        line-height: 49px;
        vertical-align: middle;
      }
    }
  }

  .year-drop-down {
    width: 100%;

    @media (min-width: @screen-md) {
      float: left;
      margin-right: 20px;
      min-width: 0;
      width: auto;
    }

    @media (min-width: @screen-lg) {
      min-width: 195px;
      width: auto;
    }
    
  }

  .btn {
    .font-size(18);
    background-color: @color-1;
    border: 0;
    color: @color-white;
    font-family: @font-family-optima-lt-w01-demi-bold;
    margin-bottom: 20px;
    margin-top: 20px;
    outline: 0;
    padding: 10px 10px;
    text-transform: uppercase;
    width: 100%;

    @media (min-width: @screen-md) {
      margin-top: 0px;
      width: auto;
    }
  }
}

.search-tagline {
  .font-size(14);
  border-bottom: 2px solid @color-3;
  font-family: @font-family-futura-w01-medium;
  margin: 0px;
  padding-bottom: 20px;
  text-transform: uppercase;

  p {
    margin-bottom: 0;
  }

  span {
    color: @color-1;
  }
}

.search-result-item {
  overflow: hidden;
  padding: 40px 0;
  border-bottom: 2px solid @color-3;

  h3 {
    margin-top: 0;
  }

  .global-link {
    display: inline-block;
    margin-top: 15px;
  }
}

.search-text--wrapper {
  h3 {
    .font-size(24);
    font-family: @font-family-stag-web;
    letter-spacing: 1px;
    margin-top: 0;
    text-transform: capitalize;
  }

  .date {
    .font-size(14);
    color: @color-3;
    font-family: @font-family-futura-w01-medium;
    margin: 10px 0;
    text-transform: uppercase;

    @media (min-width: @screen-xs) {
      margin: 0;
    }
  }

  p {
    .font-size(18);
    font-family: @font-family-futura-bt-w01-book;
    float: left;
    margin: 0;
    width: 100%;
  }
}

.search-list {
  margin-top: 60px;

  img {
    margin-bottom: 20px;

    @media (min-width: @screen-sm) {
      margin-bottom: 0px;
    }
  }

  .search-text-wrapper {

    p {
      width: 100%;
    }
  }

  .media-image {
    .font-size(105);
    float: none;

    @media (min-width: @screen-xs) {
      float: left;
    }

    @media (min-width: @screen-sm) {
      padding-left: 0;
    }

    .icon {
      float: left;
    }

    .icon-pdf {
      color: @color-1;
    }

    .icon-png,
    .icon-jpg {
      color: @color-3;
    }

    @media (min-width: @screen-sm) {
      .font-size(75);
    }

    @media (min-width: @screen-md) {
      .font-size(105);
    }
  }
}
