/*----------------------------------------------------------------------------------------------------------
#############################################  TYPOGRAPHIC STYLES
----------------------------------------------------------------------------------------------------------*/

body {
  color:@color-font;
//  text-rendering: optimizeLegibility /* Don't use this ARNOTTS-287 */;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: .00000000001px;
}

h1 {
  .font-size(20);
  margin:0;
  -webkit-font-smoothing: antialiased;

  @media (min-width: @screen-md) {
    .font-size(44);
  }

  .page-hero & {
    .font-size(30);

    @media (min-width: @screen-xs) {
      .font-size(35);
    }

    @media (min-width: @screen-md) {
      .font-size(50);
    }
  }
}

h2 {
  .font-size(42);
  .render-headline-text-shadow-gold(0px, 2px, 0px);
  font-family:@font-family-optima-lt-w01-medium;
  text-transform:uppercase;
  -webkit-font-smoothing: antialiased;
}


h3 {
  .font-size(24);
  font-family:@font-family-optima-lt-w01-demi-bold;
  letter-spacing: -2px;
  text-transform:uppercase;
  -webkit-font-smoothing: antialiased;
}

h4 {
  font-family:@font-family-futura-w01-medium;
}

a {
  &:focus {
    text-decoration:none;
  }
}

//Generic page style
.main-content {
  h4 {
    .font-size(42);
    .render-headline-text-shadow-black(1px, 1px, 1px);
    font-family: @font-family-optima-lt-w01-demi-bold;
    margin-top: 0;
    text-transform: uppercase;
  }

  p {
    font-family: @font-family-futura-bt-w01-book;

    strong {
      font-family: @font-family-futura-w01-medium;
      font-weight: normal;
    }
  }
}