/*----------------------------------------------------------------------------------------------------------
############################################# VARIABLES
- Overwriting variables from the bootstrap variables file /vendor/bootstrap/variables.less
----------------------------------------------------------------------------------------------------------*/
// GLOBAL PATHS
@font-path: "assets/fonts";
@font-icons-url: "@{font-path}/ccd";
@image-url: "assets/images";

// FONTS
@font-orchard-icon-font:  "om";

// WEBFONTS
@font-family-futura-w01-medium         : "Futura W01 Medium";
@font-family-futura-bt-w01-book        : "Futura BT W01 Book";
@font-family-optima-lt-w01-medium      : "Optima LT W01 Medium";
@font-family-optima-lt-w01-demi-bold   : "Optima LT W01 Demi Bold";
@font-family-stag-web                  : "Stag Web";

@font-family-sans-serif                : @font-family-futura-w01-medium, "Arial", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-base                      : @font-family-sans-serif;
// @font-family-serif:       Georgia, "Times New Roman", Times, serif;
// @font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;

@font-size-base:          19px;

// Grid system
// --------------------------------------------------

// Number of columns in the grid system
@grid-columns:              12;
// Padding, to be divided by two and applied to the left and right of all columns
@grid-gutter-width:         30px;
// Point at which the navbar stops collapsing
@grid-float-breakpoint:     @screen-sm-min;


// Container sizes
// --------------------------------------------------

// Small screen / tablet
@container-tablet:             ((720px + @grid-gutter-width));
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            ((940px + @grid-gutter-width));
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      ((1173px + @grid-gutter-width));
@container-lg:                 @container-large-desktop;

// Further breakpoint (e.g. being used on the de
@screen-1024:                  1024px;


// BORDER RADIUS
@border-radius:           0px;


// FOOTER MARGIN BOTTOM
@footer-margin-bottom:    20px;

// PAGE PADDING BOTTOM
@page-padding-bottom: 80px;
