/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-arrow-list {
  background-image: url(../images/sprites.png);
  background-position: 0px -30px;
  width: 8px;
  height: 13px;
}
.icon-gold-down-arrow {
  background-image: url(../images/sprites.png);
  background-position: -21px 0px;
  width: 16px;
  height: 10px;
}
.icon-white-down-arrow {
  background-image: url(../images/sprites.png);
  background-position: -47px 0px;
  width: 15px;
  height: 8px;
}
.icon-white-right-arrow {
  background-image: url(../images/sprites.png);
  background-position: 0px 0px;
  width: 11px;
  height: 20px;
}
