/*----------------------------------------------------------------------------------------------------------
############################################# COLORS
----------------------------------------------------------------------------------------------------------*/

/* style-guide */

.style-menu {
  margin-top: 80px;
}

.style-section {
  padding: 30px 0;
}

.style-section-dark {
  background-color: #f3f0e7;
}

h3.style-section--headline {
  padding-bottom: 10px;
  border-bottom: 1px dashed #333333;
}

#tile-style-6 {
  padding: 20px 0 40px 0;
}