/*
        This font software is the property of Commercial Type.

        You may not modify the font software, use it on another website, or install it on a computer.

        License information is available at http://commercialtype.com/eula
        For more information please visit Commercial Type at http://commercialtype.com or email us at info[at]commercialtype.com

        Copyright (C) 2013 Schwartzco Inc.
        License: 1501-MHELIF     
*/


@font-face {
  font-family: 'Stag Web';
  src: url('Stag-Book-Web.eot');
  src: url('Stag-Book-Web.eot?#iefix') format('embedded-opentype'),
     url('Stag-Book-Web.woff') format('woff'),
     url('Stag-Book-Web.ttf') format('truetype'),
     url('Stag-Book-Web.svg#Stag Web') format('svg');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.Stag-Book-Web {
  font-family: 'Stag Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

