/*----------------------------------------------------------------------------------------------------------
#############################################  Announcement
----------------------------------------------------------------------------------------------------------*/

.announcement--wrapper {
  background: rgba(173, 10, 8, 0.8);
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 99999;
  .transition(all 0.4s ease-in-out);

  &.close {
    max-height: 0;
    .transition(all 0.4s ease-in-out);
  }

  &.open {
    max-height: 283px;
    .transition(all 0.4s ease-in-out);
  }

  .container {
    padding: 10px;
  }

  .fa {
    .font-size(35);
    color: @color-white;
    display: block;
    float: none;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;

    @media (min-width: @screen-md) {
      display: inline-block;
      float: left;
      margin: 0;
    }

    &.fa-exclamation {
      border: 1px solid @color-white;
      border-radius: 50%;
      height: 50px;
      width: 50px;

      @media (min-width: @screen-md) {
        margin-right: 15px;
      }
    }

  }

  .annuncement-close {
    cursor: pointer;
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;

    @media (min-width: @screen-lg) {
      position: static;
    }

    .fa {
      line-height: 100%;
      @media (min-width: @screen-md) {
        line-height: 50px;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  p,
  a {
    .font-size(18);
    color: @color-white;
    display: block;
    float: none;
    line-height: 100%;
    margin: 10px 0;
    text-align: center;
    width: 100%;

    @media (min-width: @screen-md) {
      float: left;
      line-height: 50px;
      margin: 0;
      text-align: left;
      width: auto;
    }
  }

  .global-link {
    margin-left: 20px;
  }
}

