/*----------------------------------------------------------------------------------------------------------
############################################# BOX TILES
- Used at the bottom of the contacts page
----------------------------------------------------------------------------------------------------------*/
#tile-style-6 {
  padding: 20px 0 40px 0;

  @media (min-width: @screen-sm) {
    padding: 70px 0 90px 0;
  }
}

.box-tiles--wrapper {
  margin: 0;

  @media (min-width: @screen-sm) {
    margin: 50px 0;
  }

  .box-tile {
    background-size: cover;
    display: block;
    height: 200px;
    overflow: hidden;
    position: relative;
    .hero-shadow();

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity:0;
      background-color: rgba(0, 0, 0, 0.3);
      .transition('opacity' .3);
    }

    h3 {
      .font-size(22);
      bottom: 30px;
      color: @color-white;
      font-family: @font-family-stag-web;
      left: 0px;
      letter-spacing: 1px;
      margin: 0;
      padding: 0 30px;
      position: absolute;
      text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.5);
      text-transform: none;
      width: 100%;
      z-index: 1;
      .transition('bottom' .3);

      &:after {
        background: url("@{image-url}/sprites.png") no-repeat 0px 0px;
        content: "";
        display: inline-block;
        height: 20px;
        margin: -8px 0 0 0;
        position: absolute;
        right: 30px;
        top: 50%;
        width: 11px;
      }
    }

    &:hover {
      @media only screen and (min-width: 1024px) {
        .overlay {
          opacity:1;
          .transition-all();

        }
      }

      h3 {
        bottom: 40px;
        .transition-all();
      }
    }

    &:last-child {
      margin-top: 20px;
      @media only screen and (min-width: @screen-md) {
        margin-top: 0;
      }
    }
  }
}
