//----------------------------------------------------------------------------------------------------------
//############################################# FEATURE CAROUSEL
// - Feature carousel specific styles
//----------------------------------------------------------------------------------------------------------

.feature-carousel {
  height:auto;

  h3 {
    .font-size(30);

    @media (min-width: @screen-xs) {
      .font-size(60);
    }
  }

  .description {
    text-align:center;

    p {
      color: @color-5;
      text-align:center;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

      @media (min-width: @screen-md) {
        color: @color-white;
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
      }
    }
  }

  .slick-dots {
    bottom: auto;
    top: 38%;

    @media (min-width: @screen-sm) {
      top:45%;
    }

    @media (min-width: @screen-md) {
      bottom: 0;
      top: auto;
    }
  }

  .slick-next,
  .slick-prev {
    top:15%;

    @media (min-width: @screen-xs) {
      top:25%;
    }

    @media (min-width: @screen-md) {
      top:50%;
    }
  }

  .slick-slide {
    background-color: @color-white;
    @media (min-width: @screen-xs) {
      background-color: transparent;
    }

    .feature-image {
      img {
        width:100%;
      }
    }

    .copy-layer {
      background-color:@color-white;
      padding: 50px 25px;
      height:300px;
      position: relative;
      text-align: center;
      top:auto;
      width: 100%;
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);

      @media (min-width: @screen-md) {
        background-color: transparent;
        height: 100%;
        min-height:0;
        position: absolute;
        top:0;
      }

      h3 {
        .font-size(30);
        color: @color-1;
        text-shadow: none;
        display: inline-block;
        vertical-align: middle;

        @media (min-width: @screen-md) {
          .font-size(60);
          color: @color-white;
          text-shadow: 2px 6px 1px rgba(0, 0, 0, 0.5);
        }
      }

      .vert-align {

        @media (min-width: @screen-md) {
          .center-vertically-and-horzontally();
          width: 100%;
        }
      }

      .btn-global {
        margin-top: 20px;
      }
    }
  }
}
