/*----------------------------------------------------------------------------------------------------------
#############################################  GLOBAL CAROUSEL STYLES
- Only add carousel styled if it works for multiple ones. For every custom carousel please create
  a new less file within the folder 'modules' with the name '_carousel-YOUR-CAROUSEL-NAME' (as it was done for modules/_carousel-hero-carousel)
----------------------------------------------------------------------------------------------------------*/

.hero-carousel,
.feature-carousel {
  height: 500px;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1000;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  .copy-layer {
    .center-vertically();
    position: absolute;
    width: 100%;
    z-index: 10;

    .cta {
      margin-top: 20px;
    }
  }

  h3 {
    .font-size(60);
    .render-headline-text-shadow-black(1px, 2px, 1px);
    margin: 0;
    text-transform: none;

    @media (min-width: @screen-xs) {
      .font-size(100);
      .render-headline-text-shadow-black();
    }
  }
  
  h3,
  .description {
    color: @color-white;
    text-align: center;
    z-index: 10;
  }

  .description {
    display: none;
    text-align:center;

    @media (min-width: @screen-sm) {
      display: block;
    }

    p {
      .font-size(24);
      .render-headline-text-shadow-black(2px, 2px, 1px);
      text-align:center;
      z-index: 10;
    }
  }

  .slick-track {
    height: 100%;
  }

  .slick-list {
    height: 100%;
  }

  .slick-slide {
    background-size: cover;
    background-position: center;
  }

  .slide-title {
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 21px;
    margin-top: 32px;
    min-height: 140px;
    position: relative;
    text-indent: -9999px;
    width: 100%;
  }

  .slick-dots {
    border-radius: 7px 7px 0 0;
    bottom: 0;
    left: 50%;
    line-height: 0;
    padding-bottom: 20px;
    width: auto;
    z-index: 9999;
    display: none !important;
    .translate(-50%, 0);

    @media (min-width: @screen-xs) {
      display: block !important;
    }

    li {
      display: inline-block;
      height: auto;
      width: auto;
    }

    button {
      background: @color-white;
      border-radius: 50%;
      display: inline-block;
      height: 10px;
      opacity: .5;
      width: 10px;

      &:before {
        content: none;
      }
    }

    .slick-active {

      button {
        opacity: 1;
      }
    }
  }

  @media (min-width: @screen-xs-min) {

    .slide-title {
      margin: 60px 0 0 0;
      min-height: 240px;
    }

    .slick-dots {

      button {
        height: 13px;
        width: 13px;
      }
    }
  }
}

.global-carousel {
  .slick-prev,
  .slick-next {
    width: 50px;
    height: 50px;
    margin-top: -25px;
    top: 25%;
    z-index: 9999;

    @media (min-width: @screen-xs) {
      top: 50%;
    }
  }

  .slick-prev {
    left:20px;

    &:before {
      .font-size(40);
      .render-arrow-left();

      &:hover & {
        .font-size(40);
        .render-arrow-left();
      }
    }
  }

  .slick-next {
    right: 20px;

    &:before {
      .font-size(40);
      .render-arrow-right();
    }
    &:hover & {
      .font-size(40);
      .render-arrow-left();
    }

  }
}

.cta--center {
  text-align: center;

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
  }
  .btn-global {
    display: inline-block;
    vertical-align: middle;
  }
}