//----------------------------------------------------------------------------------------------------------
//############################################# NEWS CAROUSEL
// - News carousel specific styles
//----------------------------------------------------------------------------------------------------------

.news-carousel {
  display: block;

  @media (min-width: @screen-md) {
    display: none;
  }

  .slick-prev, .slick-next {
    top: 15%;

    @media (min-width: @screen-xs) {
      top: 26%;
    }
  }

  .news-carousel--image-wrapper {
    background: no-repeat center center;
    background-size:cover;
    height:221px;
    overflow: hidden;


    @media (min-width: @screen-xs) {
      height:391px;
    }

    @media (min-width: @screen-md) {
    }
  }
}