//----------------------------------------------------------------------------------------------------------
//############################################# HERO CAROUSEL
// - Hero carousel specific styles
//----------------------------------------------------------------------------------------------------------

.hero-carousel {
  .hero-shadow-small();

  @media (min-width: @screen-xs) {
    .hero-shadow();
  }

  h3 {
    .font-size(50);
    line-height: 100%;

    @media (min-width: @screen-xs) {
      .font-size(60);
    }

    @media (min-width: @screen-md) {
      .font-size(60);
    }

    @media (min-width: @screen-lg) {
      .font-size(100);
    }
  }

  .copy-layer {
    padding-top: 0;

    @media (min-width: @screen-md) {
      padding-top:105px;
    }
  }

  .scroll-to {
    background-color: rgba(0,0,0,0.3);
    bottom: 0px;
    color: @color-white;
    cursor: pointer;
    left: 50%;
    margin-left: -128px;
    padding: 16px 67px 16px 35px;
    position: absolute;
    text-transform: uppercase;
    z-index: 9999;

    &:after {
      background: url("@{image-url}/sprites.png") no-repeat -47px 0;
      content: "";
      display: inline-block;
      height: 8px;
      margin: -4px 0 0 15px;
      position: absolute;
      top: 50%;
      width: 15px;
    }

    &:hover {
      color: @color-white;
    }
  }
}