/*----------------------------------------------------------------------------------------------------------
############################################# FOOTER
----------------------------------------------------------------------------------------------------------*/

footer {
  .font-size(14);
  background-color:@color-1;
  color:@color-white;
  min-height:150px;
  padding:30px 0 40px 0;

  .icon-logo {
    height: 71px;
    display: block;
    margin: 0 auto;
    width:172px;

    @media only screen and (min-width:@screen-md) {
      margin:0 0 @footer-margin-bottom 0;
    }
  }
}

.footer--border-bottom {
  border-bottom:1px solid @color-footer-border;
  margin-bottom:30px;
}

.footer-menu {
  text-align:center;

  @media only screen and (min-width:@screen-md) {
    text-align: left;
  }

  li {
    color:@color-white;
    display:inline;
    list-style-type:none;
    margin-left:17px;

    @media (min-width: @screen-xs) {
      margin-left: 25px;
    }

    &:first-child {
      margin-left:0;
    }

    a {
      color:@color-3;

      &:hover {
        color:@color-white;
        text-decoration:none;
      }
    }
  }
}

.copywright {
  margin-top:20px;
  text-align:center;

  @media only screen and (min-width:@screen-md) {
    margin-top:0;
    float:right;
  }
}