//----------------------------------------------------------------------------------------------------------
//############################################# HEADER - WITH BOOTSTRAP
// - This one is outdated we don't use bootstrap for the main menu. We use a Wordpress plugin called
//   Ubermenu. We've created a separate less file that references the ubermenu (_header-menu-ubermenu.less)
//---------------------------------------------------------------------------------------------------------
.navbar-main-menu {
  background-color:@color-2;
  border:0;
  color:@color-black;
  margin-bottom:0;
  padding:0;

  .navbar-toggle {
    background-color:darken(@color-3,10%);
    border:0;
    outline:0;

    &:hover,
    &:focus {
      background-color:darken(@color-3,10%);
    }

    .icon-bar {
      background-color:@color-black;
    }

    &.collapsed {
      background:transparent;
    }
  }

  .navbar-brand {
    padding:12px 0 7px 0;
  }

  .icon-logo {
    float:left;
    margin-right:20px;
    padding-left:15px;
    height:60px;
  }

  .logo-tagline {
    border-left: 3px solid @color-white;
    color:@color-white;
    float:left;
    line-height:55px;
    margin:0;
    padding-left:20px;
    .font-size(20)
  }

  .navbar-collapse {
    border:0;
    padding:0;
  }
}