//----------------------------------------------------------------------------------------------------------
//############################################# HEADER - UBERMENU
// - We switched from bootstrap menu to Ubermenu therefore created a separate less file for the file
//   structure when using ubermenu.
// - The styling for the ubermenu itself has to be changed in /assets/styles/less/vendor/ubermeganav/custom.less
//---------------------------------------------------------------------------------------------------------
.top-menu-container {
  padding:28px 15px 0 15px;
  position:relative;
  .make-container();
}

.top-nav-menu {
  li {
    border-right:1px solid @color-3;

    &:first-child {
      border-right:0;
    }
  }
}

.main-nav-wrapper {
  top: 20px;
  position: absolute;
  height: 124px;
  width: 100%;
  z-index: 1001;

  .menu-top-menu-container {
    display: none;

    @media only screen and (min-width:1000px) {
      display: block;
      position: relative;
      z-index: 3;

      li {
        .font-size(14);
        float: right;
        list-style-type: none;
        padding:0 10px;

        a {
          color: @color-3;

          &:hover {
            color:@color-white;
            text-decoration:none;
          }
        }
      }
    }
  }

  .icon-logo {
    left:15px;
    position: absolute;
    top:20px;
    z-index: 2;
  }
  .transparency {
    background-color: @color-black;
    border: 1px solid black;
    height: 120px;
    opacity: .4;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}

.menu-main-menu-container {

  ul {
    margin-bottom:0;
    margin-top:0;

    > li {
      padding:0;
      vertical-align: middle;
      .font-size(26);

      li {
        padding:0;
      }
    }
  }
}

