/*----------------------------------------------------------------------------------------------------------
#############################################  LISTS - PRODUCTS DETAIL
- Currently used on the products detail view '/our-products/PRODUCT
----------------------------------------------------------------------------------------------------------*/
.list-products-detail {
  clear:both;
  .make-row();

  li {
    list-style-type:none;
    margin-top:20px;

    @media (min-width: @screen-sm-min) {
      &.col-sm-3 {
        .make-sm-column(6); /* Fix for ARNOTTS-275 */
      }
    }

    @media (min-width: @screen-md-min) {
      &.col-sm-3 {
        .make-md-column(3); /* Fix for ARNOTTS-275 */
      }
    }

    .tile {
      @media (min-width: @screen-md-min) {

        &.tile--style-1 {
          min-height:340px;
        }

        &.tile--style-2 {
          min-height:281px;
        }
      }
    }
  }
}