//----------------------------------------------------------------------------------------------------------
//############################################# BREADCRUMBS
// - Styling for the breadcrumbs
//----------------------------------------------------------------------------------------------------------
.list-breadcrumbs {
  letter-spacing: 1px;
  margin: 20px 0;
  text-transform: uppercase;
  .font-size(12);

  a {
  	color: @color-5;
  }

  .breadcrumb-current {
  	color: @color-1;
  }
}