/*----------------------------------------------------------------------------------------------------------
#############################################  LISTS - BULLETS
----------------------------------------------------------------------------------------------------------*/

.list--bullets {
  li {
    .render-list();

    &:before {
      .render-bullets();
      color:@color-1;
    }
  }
}

