//----------------------------------------------------------------------------------------------------------
//############################################# LIST - CATEGORY ANCHORS
//- Currently used on the 'Product Overview' page
//- Styled list of anchors
//---------------------------------------------------------------------------------------------------------
.list-category-anchors-wrapper {
  p {
    display: inline;
    font-family:@font-family-optima-lt-w01-demi-bold;
    text-transform: uppercase;
  }
}

.list-category-anchors {
  float:right;

  li {
    display: inline;

    &:before {
      content: '|';
      color:@color-3;
      padding-left: 10px;
      padding-right:10px;
    }

    &:first-child {

      &:before {
        content:'';
        padding-right: 0;
      }
    }

    a {
      @media (min-width: @screen-md) {
        .font-size(16);
      }
      @media (min-width: @screen-lg) {
        .font-size(19);
      }
    }
  }
}