/*----------------------------------------------------------------------------------------------------------
#############################################  LISTS - RECIPE DETAIL PAGE
- Currently used on the recipe detail page '/recipe/xxx'
----------------------------------------------------------------------------------------------------------*/
.recipe-cheatsheet-list {
  .make-row();
  background-color: @color-6;
  overflow: hidden;
  padding:20px 20px 0 20px;

  li {
    list-style-type: none;
    margin-bottom:30px;
    position: relative;
    .make-md-column(6);

    @media (min-width: @screen-sm) {
      .make-sm-column(6);
    }

    @media (min-width: @screen-lg) {
      .make-md-column(4);
    }

    &:before {
      .font-size(38);
      background-color:@color-1;
      color:@color-white;
      content:'';
      display: inline-block;
      height:60px;
      left: 0px;
      position: absolute;
      text-align:center;
      vertical-align: middle;
      width:60px;
    }

    &.recipe-cheatsheet--difficulty {
      &:before {
        .render-star();
        line-height:60px;
      }
    }

    &.recipe-cheatsheet--arnotts-product {
      &:before {
        .render-cookie();
        line-height:60px;
      }
    }

    &.recipe-cheatsheet--cooking-time {
      &:before {
        .render-oven();
        line-height:60px;
      }
    }

    &.recipe-cheatsheet--prep-time {
      &:before {
        .render-clock();
        line-height:60px;
      }
    }

    &.recipe-cheatsheet--chill-time {
      &:before {
        .render-snow-flake();
        line-height:60px;
      }
    }

    &.recipe-cheatsheet--serves {
      &:before {
        .render-bell();
        line-height:60px;
      }
    }

    span,
    time {
      color:@color-font;
      display: block;
      padding-left:65px;

      &.title {
        .font-size(20);
        color:@color-1;
        display: inline;
      }
    }
  }
}