/*----------------------------------------------------------------------------------------------------------
#############################################  LISTS - SECONDARY NAV
- Currently used on pages with child pages
----------------------------------------------------------------------------------------------------------*/

.list--secondary-nav {
  margin-bottom: 0px;

  @media (min-width: @screen-sm) {
    margin-bottom: 60px;
  }

  li {
    border-bottom:1px solid @color-3;
    color:@color-3;
    list-style: none inside;
    position: relative;
    text-transform:uppercase;

    &:first-child {
      border-top: 1px solid @color-3;
    }

    &.current_page_item {
      a {
        .render-active-submenu();
      }
    }

    a {
      color:@color-3;
      display: block;
      padding:20px 5px 20px 40px;

      &:before {
        .render-arrow-left();
        .font-size(18);
        .transition(background-color .5s ease-in-out);
        .transition(left .5s ease-in-out);
        color:@color-3;
        left: 10px;
        line-height:26px;
        position: absolute;
        vertical-align: middle;
      }


      &:hover {
        .render-active-submenu();
      }
    }
  }
}

.render-active-submenu() {
  background-color:@color-secondary-nav-bg;
  color:@color-1;
  text-decoration:none;
  .transition(background-color .5s ease-in-out);

  &:before {
    color:@color-1;
    left:5px;
    .transition(left .5s ease-in-out);
  }
}

.main-content .list--secondary-nav {
  li {
    margin-bottom: 0;
    padding-left: 0;
    
    &:before {
      display: none;
    }
  }
}