//----------------------------------------------------------------------------------------------------------
//############################################# CONTACT US
// - Styles being used on the contact-us or the sidebar.
//----------------------------------------------------------------------------------------------------------
.contact-list--wrapper {
  margin: 60px 0;
}

.list-contacts {
  .make-row();

  li {
    .make-md-column(4);
    list-style-type:none;
    margin-top:20px;

    .list-contacts--sidebar& {
      .make-md-column(12);
    }

    .tile {
      height: auto;

      @media (min-width: @screen-md-min) {

        &.tile--style-1 {
          min-height:340px;

          .list-contacts--sidebar& {
            height:auto;
            min-height: 0px;
          }
        }

        &.tile--style-2 {
          min-height:281px;
        }
      }

      @media only screen and (min-width:@screen-md) {
        height: 340px;
      }
    }

    h3 {
      line-height: 58px;
      min-height: 58px;

      span {
        display: inline-block;
        line-height: 25px;
        margin-left: 5px;
        vertical-align: middle;
      }

      &:before {
        .font-size(35);
      }
    }

    h4 {
      font-family: @font-family-futura-w01-medium;
      margin-top: 0;
      text-shadow:none;
      text-transform:normal;
    }
  }
}

//----------------------------------------------------------------------------------------------------------
//############################################# CONTACT US - SIDEBAR
//----------------------------------------------------------------------------------------------------------

.list-contacts--sidebar {
  margin-bottom:20px;
}

.list-contact--color-1 {

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .tile {
    padding-bottom:50px;

    h3 {
      &:before {
        background-color:@color-1;
      }
    }

    p {
      color:@color-font;
      min-height:60px;
    }

    &:after {
      .render-arrow-right();
      .font-size(30);
      color:@color-3;
      bottom:20px;
      position: absolute;
      right:20px;
    }

    @media (min-width: @screen-md-min) {
      &:hover {
        background-color:@color-3;
        color:@color-white;

        &:after {
          color:@color-white;
        }

        h3,
        p {
          color:@color-white;
        }
      }
    }
  }
}