/*----------------------------------------------------------------------------------------------------------
############################################# LIST - SOCIAL MEDIA LINKS
- List of social media links linking to external pages
- This is being used in the header and the footer of the page (right hand side)
----------------------------------------------------------------------------------------------------------*/
.list-social-media-links {
  text-align:center;

  li {
    .font-size(24);
    display: inline-block;


    a {
      color:@color-3;

      &:before {
        .font-size(40);
        .transition(color .5 ease-in-out);
        color:@color-3;
      }

      &:hover {
        color:@color-white;
        text-decoration:none;

        &:before {
          .transition(color .5 ease-in-out);
          color:@color-white;
        }
      }
    }

    .facebook {
      &:before {
        .render-facebook();
      }
    }

    .twitter {
      &:before {
        .render-twitter();
      }
    }

    .linkedin {
      &:before {
        .render-linkedin();
      }
    }
  }

  @media only screen and (min-width:@screen-md) {
    text-align:left;
  }
}

/*----------------------------------------------------------------------------------------------------------
############################################# LIST - SOCIAL MEDIA LINKS HEADER
- Currently listed in the header on the right hand side
----------------------------------------------------------------------------------------------------------*/
.social-media-header {
  display: none;

  @media only screen and (min-width:1000px) {
    display: block;
    float:right;

    .list-social-media-links {
      li {
        line-height:20px;

        a {
          padding-left:10px;

          &:before {
            .font-size(20);
          }
        }

        &:first-child {
          a {
            padding-left:0;
          }
        }
      }
    }
  }
}

/*----------------------------------------------------------------------------------------------------------
############################################# LIST - SOCIAL MEDIA LINKS FOOTER
- Currently listed in the footer on the right hand side
- In contrast to the list at the top this one has vertical separator bars.
----------------------------------------------------------------------------------------------------------*/
.social-media-footer {
  display: block;
  overflow:hidden;
  margin-bottom:@footer-margin-bottom;
  padding-top:5px;
  vertical-align: middle;

  &.pull-right {
    float:none !important;

    @media only screen and (min-width:@screen-md) {
      float: right !important;
    }
  }

  @media only screen and (min-width:@screen-md) {
    margin-bottom:0;
  }

  p {

    .font-size(24);
    font-family:@font-family-optima-lt-w01-demi-bold;
    line-height:51px;
    text-align:center;
    text-transform:uppercase;


    @media only screen and (min-width:@screen-md) {
      display: inline;
      float:left;
      margin-right:10px;
    }
  }

  .list-social-media-links {

    @media only screen and (min-width:@screen-md) {
      float: right;
    }

    li {
      border-left: 1px solid @color-footer-border;
      padding: 0 10px;

      &:first-child {
        border-left: 0;
        padding-left:0;
      }

      @media only screen and (min-width: @screen-md) {
        &:first-child {
          padding-left:10;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}