/*----------------------------------------------------------------------------------------------------------
#############################################  LISTS - PRODUCTS OVERVIEW
- Currently used on the products overview page '/our-products
----------------------------------------------------------------------------------------------------------*/
.list-products-overview {

  li {
    .make-sm-column(3);
    list-style-type:none;
    margin-top:20px;

    @media (min-width: @screen-sm) {
      .make-sm-column(6);
    }

    @media (min-width: @screen-md) {
      .make-md-column(4);
    }

    @media (min-width: @screen-lg) {
      .make-lg-column(3);
    }

    .tile {
      @media (min-width: @screen-md) {

        &.tile--style-1 {
          min-height:340px;
        }

        &.tile--style-2 {
          min-height:281px;
        }
      }
    }

    // View more link
    &.view-more-products {
      clear:both;
      width:100%;
      text-align:right;
    }
  }

  // If these tiles are in a sidebar make them full width
  .sidebar &{
    li {
      .make-sm-column(12);

      h3 {
        .font-size(22);
        font-family: @font-family-optima-lt-w01-demi-bold;
        margin-bottom:20px;
        margin-top:0;
        text-align:center;
        text-shadow: none;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}