/*----------------------------------------------------------------------------------------------------------
############################################# RELATED RECIPES LIST
- Used at the bottom of the recipe detail page (further styles have been added to _tiles-cross-tiles.less)
----------------------------------------------------------------------------------------------------------*/

.related-recipes {
  margin-bottom:55px;

  li {
    list-style-type: none;

    .cross-tile--wrapper {
      margin:30px 0 0 0;
    }
  }
}