//----------------------------------------------------------------------------------------------------------
//############################################# PRIMARY NAV
// - Main menu at the top
//----------------------------------------------------------------------------------------------------------
.navbar-header {
  border:0;
}
.navbar--primary {
  border-bottom:1px solid @color-1-lighter;

  @media (min-width:@screen-sm-min) {
    border-bottom:0;
  }
}

// Primary nav container
.wrapper-primary-nav {
  clear:both;
  @media (min-width:@screen-sm-min) {
    background-color:@color-1-darker;
  }
}

// Hamburger toggle
.navbar-toggle {
  margin-right:0;

  &:hover,
  &:focus {
  }

  &:active {
  }

  .icon-bar {
    background-color:@color-black;
    border-radius:6px;
    height:4px;
    width:30px;
  }
}

// Primary navigation
.nav--primary {
  margin-bottom:0;
  margin-top:0;
  .reset-list();

  li {
    background-color:@color-1;
    border-bottom:1px solid @color-1-darker;

    a {
      color:@color-white;
      padding:15px;
      .font-size(18);
      .transition(background-color .3s ease-out);

      &:hover,
      &:focus,
      &:active {
        color:@color-white;
        background-color:@color-1-darker;
      }
    }

    &.open > a {
      background-color:@color-1;

      &:hover,
      &:focus,
      &:active {
        background-color:@color-1-darker;
      }
    }

    &.active > a {
      background-color:@color-1-darker;
    }
  }

  .dropdown-menu {
    border:none;
    margin:0 !important;
    padding:0 !important;

    li {
      background-color:@color-1-light;
      border-bottom:1px solid @color-1;

      a {
        padding:10px 15px 10px 30px!important;
        .font-size(15);

        &:hover,
        &:focus,
        &:active {
          color:@color-1;
        }
      }

      &:last-child {
        border-bottom:0;
      }

      &.active {

        a {
          background-color:@color-1-darker;

          &:before {
            float:right;
            margin:7px 7px 0 0;
            .font-size(13);
            .render-arrow-up();
          }
        }
      }

    }
  }

  @media (min-width:@screen-sm-min) {
    margin-left:-@grid-gutter-width/2;

    li {
      background:transparent;
      border-bottom:0;

      & > a {
        .font-size(15);
        padding:15px 10px;

        &:hover,
        &:focus,
        &:active {
          background-color:@color-1;
        }

        .lt-ie9 & {
          padding-left:18px;
          padding-right:18px;
        }
      }

      &.active a {
        background-color:@color-1;
      }

      &.dropdown:hover > ul.dropdown-menu {
        display:block;
      }
    }

    .dropdown-toggle {
      display:none;
    }

    .dropdown-menu {
      li {
        border:none;

        a {
          background-color:@color-1-dark;
          padding:12px 20px!important;

          &:hover,
          &:focus,
          &:active {
            background-color:@color-1-darker;
          }
        }

        &.active {

          a {
            background-color:@color-1-darker;

            &:before {
              position:absolute;
              right:5px;
              top:10px;
            }
          }
        }
      }
    }
  }

  @media (min-width:@screen-md-min) {
    li > a {
      padding-left:16px;
      padding-right:16px;
      .font-size(17);
    }
  }

}

.dropdown-toggle {
  cursor:pointer;
  display:inline-block;
  padding:7px 12px;
  position:absolute;
  right:5px;
  top:7px;

  &:hover,
  &:focus {
    .caret {
      border-top-color:#000;
    }
  }

  &:before {
    color:@color-white;
    position:relative;
    top:3px;
    .font-size(20);
    .render-arrow-right();
  }

  @media (min-width:@screen-sm-min) {
    right:0;
  }

  .open & {
    &:before {
      .render-arrow-down();
    }
  }
}