//----------------------------------------------------------------------------------------------------------
//############################################# PAGINATIONS
// - Overwriting Wordpress pagination
//----------------------------------------------------------------------------------------------------------

.page-numbers,
.paging-navigation {
  margin-bottom:35px;
  text-align:center;
  .font-size(20);

  li {
    list-style-type: none;
    float:left;
  }

  a,span {
    margin-right:10px;
  }

  .page-numbers {
    color:@color-1;
    padding: 5px 11px;
  }

  .current {
    background-color: @color-1;
    color:@color-white;
  }

  .next, 
  .prev {
    color: @color-3;
    padding: 0;
  }

  .next {
    margin-right: 0;

    @media only screen and (min-width:@screen-xs) {
      float: right;
    }

    &:after {
      .icon();
      content: @icon-arrow-right;
      display: inline-block;
      line-height:18px;
      margin-left:10px;
      margin-top:-2px;
      vertical-align: middle;
    }
  }
  .prev {
    margin-right: 0;

    @media only screen and (min-width:@screen-xs) {
      float: left;
    }

    &:before {
      .icon();
      content: @icon-arrow-left;
      display: inline-block;
      line-height:20px;
      margin-right:10px;
      margin-top:-2px;
      vertical-align: middle;
    }
  }

  a {
    &:hover {
      color:@color-1;
      text-decoration: none;
    }
  }

  @media only screen and (min-width:@screen-md) {
    margin-bottom:0;
  }
}

.paging-navigation {
  margin-top: 20px;
  padding-right: 10px;

  @media only screen and (min-width:@screen-xs) {
    float: right;
  }
}

//----------------------------------------------------------------------------------------------------------
//############################################# POST NAVIGATION
// - Previous and Next Article on blog post detail page
//----------------------------------------------------------------------------------------------------------

.post-navigation {
  padding-top: 15px;

  .nav-links {
    position: relative;

    .global-link,
    .global-link-left {
      vertical-align: middle;
      .font-size(14);

      @media (min-width:@screen-xs-min) {
        .font-size(18);
      }

    }

    .global-link {
      float:right;
      margin-top:4px;

      @media (min-width:@screen-xs-min) {
        margin-top:0;
      }
    }
  }
}

//----------------------------------------------------------------------------------------------------------
//############################################# POST COMMENT PAGINATION
// - Currently used on the blog post detail page and visible if there are multiple comments (amount of
//   number of comments when the comment pagination kicks in depends on the CMS entry)
//---------------------------------------------------------------------------------------------------------
.comments--pagination {
  position: relative;
  left: 50%;
  float: left;

  .comments-inner--pagination {
    position: relative;
    left: -50%;
    float: left;
  }

  .page-numbers {
    margin-bottom:20px;
    margin-top:30px;
    overflow: hidden;
    padding-left:0;
  }
}

