//----------------------------------------------------------------------------------------------------------
//############################################# TILES
// - Currently used on:
// - Contact us page
// - Was put last so we can overwrite the line-height that is set to 1 by the icon font
//----------------------------------------------------------------------------------------------------------


//----------------------------------------------------------------------------------------------------------
//############################################# TILES - ICONS IN THE TOP LEFT
// - Defining icons first to be able to overwrite the line-height form icon font
//----------------------------------------------------------------------------------------------------------
.tile--consumer-care {
  h3 {
    &:before {
      .render-consumer-care();
    }
  }
}

.tile--email {
  h3 {
    &:before {
      .render-email();
    }
  }
}

.tile--factory {
  h3 {
    &:before {
      .render-factory();
    }
  }
}

.tile--facebook {
  h3 {
    &:before {
      .render-facebook();
    }
  }
}

.tile--headquarters {
  h3 {
    &:before {
      .render-headquarters();
    }
  }
}

.tile--twitter {
  h3 {
    &:before {
      .render-twitter();
    }
  }
}

.tile--linkedin {
  h3 {
    &:before {
      .render-linkedin();
    }
  }
}

.tile {
  display: block; /* Necessary because tiles can also be anchor elements*/
  padding:30px;
  position: relative;
  word-wrap: break-word;

  h3 {
    letter-spacing:0;
    margin:0 0 30px 0;
    min-height:70px;
    padding-left:80px;
    position: relative;

    &:before {
      background-color:@color-3;
      color:@color-white;
      display: inline-block;
      left:0;
      line-height:58px;
      margin-right: 20px;
      height:58px;
      position: absolute;
      text-align:center;
      vertical-align: middle;
      width:58px;
    }

    @media (min-width: @screen-md) {
      .font-size(23); /* Otherwise the string 'corporate headquarters' doesn't fit in the tile on ipad landscape */
    }

    @media (min-width: @screen-lg) {
      .font-size(24);
    }
  }

  h4 {
    .font-size(18);
    color:@color-1;
    margin-bottom:10px;
  }

  p {
    margin:0;
  }

  a[href^="tel"] {
    color:@color-font;
  }
}

//----------------------------------------------------------------------------------------------------------
//############################################# TILES - BACKGROUND COLOR
//----------------------------------------------------------------------------------------------------------
.tile--style-1 {
  background-color:@color-6;
}

.tile--style-2 {
  .transition(background-color .5s ease-in-out);
  background-color:@color-6;

  p {
    color:@color-font;
  }

  h3 {
    padding-right:18px;

    &:before {
      background-color:@color-1;
    }
  }

  &:after {
    .render-arrow-right();
    .font-size(30);
    color:@color-3;
    top: 45px;
    position: absolute;
    right:20px;
  }

  &:hover {
    .render-hover-color-3();
  }
}

//----------------------------------------------------------------------------------------------------------
//############################################# TILES - STYLE 3
//----------------------------------------------------------------------------------------------------------

.tile--style-3 {
  padding:0;
  max-height:300px;

  .image--container {
    .center-image-horizontally-and-vertically();
    background-color:@color-white;
    border:1px solid @color-6;
    height:218px;
  }

  .tile--footer {
    background-color:@color-6;
    color:@color-1;
    display: table;
    font-family:@font-family-optima-lt-w01-demi-bold;
    height: 80px;
    padding:0 20px;
    position: relative;
    text-align:left;
    text-transform:uppercase;
    vertical-align: middle;
    width:100%;


    p {
      display: table-cell;
      padding-right:15px;
      text-align:left;
      vertical-align: middle;

      &:after {
        .render-arrow-right();
        color:@color-3;
        position: absolute;
        margin-top:-10px;
        right:20px;
        top:50%;
      }
    }
  }

  &:hover {
    text-decoration: none;

    .tile--footer {
      background-color: @color-1;
      color: @color-white;
    }
  }
}

//----------------------------------------------------------------------------------------------------------
//############################################# TILES - STYLE 4
//----------------------------------------------------------------------------------------------------------
.tile--style-4 {
  .transition(background-color .5s ease-in-out);
  background-color:@color-white;

  h3 {
    .font-size(20);
    color:@color-1;
    line-height: 100%;
    min-height:0;
    padding-left:60px;
    padding-right: 20px;

    @media (min-width: @screen-xs) {
      line-height: 38px;
      padding-right: 0;
      .font-size(24);
    }

    &:before {
      background-color:@color-1;
      color:@color-white;
      height:38px;
      line-height:38px;
      margin-top: -19px;
      top: 50%;
      width:38px;

      @media (min-width: @screen-xs) {
        margin-top: 0px;
        top: 0;
      }
    }

    &:after {
      .font-size(20);
      .render-arrow-right();
      .transition(padding-left .5s ease-in-out);
      color:@color-3;
      padding-left:15px;
    }
  }

  &:hover {
    .render-hover-color-3();

    h3:after {
      .transition(padding-left .5s ease-in-out);
      padding-left:20px;
    }

    a {
      text-decoration: none;
    }
  }
}

//----------------------------------------------------------------------------------------------------------
//############################################# TILES - STYLE 5
//----------------------------------------------------------------------------------------------------------
.tile--style-5 {
  background:@color-product-preview-bg;
  min-height:300px;

  @media (min-width: @screen-lg) {
    min-height:270px;
  }

  .image--container {
    .center-image-horizontally-and-vertically();
    height:126px;

    img {
      max-height: 120px;
      max-width:100%;
      width: auto;
    }
  }

  p {
    text-align:center;
  }

  .product--title {
    color:@color-font;
    text-transform:uppercase;
  }

  .product--weight {
    color:@color-3;
  }
}

// Home page tiles
.desktop-view {
  display: none;
  @media (min-width: @screen-sm) {
    display: block;
  }
}

//----------------------------------------------------------------------------------------------------------
//############################################# TILES - STYLE 6
// - Used on the World of Arnotts grid on the homepage.
//----------------------------------------------------------------------------------------------------------

.tile--style-6 {
  background-position: center center !important;
  background-size: cover !important;
  cursor: pointer;
  margin-bottom: 0px;
  padding: 0;

  a:hover {
    text-decoration:none;
  }

  @media (min-width: @screen-md) {
    margin-bottom: 20px;
    .hero-shadow-small();

    &:after {
      z-index: 1;
    }
  }

  @media (min-width: @screen-lg) {
    margin-bottom: 20px;
  }

  img {
    width: 100%;
  }

  &:hover {
    .tile-view--active {
      opacity: 1;
      text-decoration: none;
      width: 100%;

      @media (min-width: @screen-1024) {
        .transition(opacity .3s ease-in-out);
      }
    }
  }

  &.tile--height-1 {
    height: auto;

    @media (min-width: @screen-sm) {
      height: 157px;
    }

    @media (min-width: @screen-md) {
      height: 207px;
    }

    @media (min-width: @screen-lg) {
      height: 261px;
    }

  }

  &.tile--height-2 {
    height: auto;

    @media (min-width: @screen-md) {
      height: 431px;
    }

    @media (min-width: @screen-lg) {
      height: 542px;
    }
  }

  time {
    color: @color-3;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform:uppercase;
    .font-size(14);
  }

  .tile-view--default {
    bottom: 20px;
    color: @color-white;
    padding: 0 30px;
    position: absolute;
    width: 100%;
    z-index: 2;
    .font-size(22);

    p {
      .render-headline-text-shadow-black(2px, 2px, 1px);
      float: left;
      text-align:left;
      width: 85%;
    }

    &:after {
      .render-plus();
      margin-top: -15px;
      position: absolute;
      right: 30px;
      top: 50%;
    }
  }

  .tile-view--active {
    background: @color-1;
    bottom: 0;
    color: @color-white;
    display: block;
    min-height:480px;
    margin: 0;
    padding: 40px;
    opacity: 1;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 2;

    @media (min-width: @screen-xs) {
      min-height:342px;
    }

    @media (min-width: @screen-md) {
      height: 100%;
      opacity: 0;
      padding: 20px 40px 20px 20px;
      position: absolute;
      width: 100%;
    }

    @media (min-width: @screen-1024) {
      display: block;
      min-height:0;
      width: 100%;
      .transition(opacity .3s ease-in-out);
    }

    &.div& {
      cursor: default;
    }

    &:after {
      .render-arrow-right();
      bottom: 40px;
      color: @color-white;
      position: absolute;
      right: 30px;
    }

    h3 {
      font-family:@font-family-stag-web;
      color: @color-white;
      margin-bottom:10px;
      min-height:40px;
      padding-left: 0;
      text-decoration: none;
      text-transform: normal;

      @media (min-width: @screen-md) {
        .font-size(20);
      }
    }

    p {
      color: @color-white;
      text-decoration: none;

      @media (min-width: @screen-md) {
        .font-size(14);
      }

      @media (min-width: @screen-lg) {
        .font-size(18);
      }
    }
  }
}



.render-hover-color-3() {
  .transition(background-color .5s ease-in-out);
  background-color:@color-3;
  color:@color-white;
  text-decoration:none;

  h3:after,
  &:after {
    color:@color-white;
  }

  h3,
  p {
    color:@color-white;
  }
}

/**
 * Prepared to be used in the DOM node with the class .image--container inside of .tile
 */
.center-image-horizontally-and-vertically {
  position: relative;
  width:100%;

  img {
    .center-vertically-and-horzontally();
  }
}