//----------------------------------------------------------------------------------------------------------
//############################################# TWITTER FEED
// - Currently used on:
// - Homepage
// - We overwrite the styles of a Wordpress Plugin that pulls in 1 single twitter feed
//----------------------------------------------------------------------------------------------------------
.tile--twitter {
  .wolf-tweet-time_big {
    display: none;
  }

  .wolf-bigtweet-content {
    span.wolf-tweet-text {
      .font-size(18);
      .transition(color 0.6s ease-in-out);
      font-family: @font-family-futura-w01-medium;
    }
  }
}