.video-carousel {
  margin-bottom:16px;
  margin-top:16px;
  overflow: hidden;

  .slick-slide {

    background: @color-white no-repeat right top;
    background-size:cover;
    border-radius:0;
    height: 272px;
    overflow: hidden;
    opacity:0.3; // Don't use transition as it flickers on mobile
    position: relative;
    width:460px;

    @media (min-width: @screen-xs-min) {
      border-radius: 7px;
      margin:0 8px;
    }
  }

  .slick-next,
  .slick-prev {
    background: @color-1;
    font-size:30px;
    height: 100px;
    left:0;
    width: 100px;

    &:before {
      opacity:1;
      position: absolute;
      top: 50%;
      content:@icon-arrow-left;
      .translateY(-50%);
    }

    @media (min-width: @screen-xs-min) {

      &:hover {
        background:@color-3;
      }
    }
  }

  .slick-prev {
    border-radius: 0 50% 50% 0;
    .translate(-20%, -50%);

    &:before {
      right: 20px;
      .icon-arrow-left();
      font-size:30px;
      font-weight:900;
    }
  }

  .slick-next {
    border-radius: 50% 0 0 50%;
    .translate(20%, -50%);

    &:before {
      left: 20px;
      .icon-arrow-right();
      font-size:30px;
      font-weight:900;
    }
  }

  .slick-center {
    opacity:1;
    // Don't use transition as it flickers on mobile
  }
}

.carousel-play-button {
  display: block;
  position: relative;
  margin: -50px auto 0;
  top:50%;
  width: 100px;

  &:before {
    background:@color-4;
    content: "";
    height: 100px;
    opacity: .75;
    width: 100px;
    display: inline-block;
    border-radius: 50%;
  }

  &:after {
    .icon(); // need to overwrite some of its rules...
    .center-vertically-and-horzontally();
    .font-size(50);
    color:@color-3;
    content: @icon-arrow-right;
    display: block;
    font-weight: bolder;
    left: 50%;
  }

  &:hover {
    text-decoration:none;

    &:before {
      color:@color-2;
    }
  }
}

.carousel-video-title {
  color:@color-white;
  left:30px;
  position:absolute;
  bottom:10px;
  .font-size(20);

  @media (min-width: @screen-xs-min) {
    &:hover {
      color: @color-2;
      text-decoration: none;
    }
  }
}

.video-carousel-modal {
  position:relative !important;
  .translateY(25%) !important;

  .modal-content {
    border-radius:0px;
    line-height:0;
    padding:0;

    .icon-close-cross {

      background: white;
      color:@color-1;
      height: 40px;
      line-height: 1.4;
      padding-right: 10px;
      position: absolute;
      right: 0;
      text-align: right;
      top: -39px;
      width: 100%;
      .font-size(30);
    }

    @media (min-width: @screen-xs-min) {
      border-radius: 10px;
      padding:35px;

      .icon-close-cross {

        height:auto;
        width:auto;
        line-height: 1.4;
        padding-right: 10px;
        top: 5px;
        .font-size(20);
      }
    }
  }

  iframe {
    width:100%;
  }
}